# Main dependencies
requests>=2.25.0
typing-extensions>=4.0.0

# Development dependencies
pytest>=7.0.0
pytest-mock>=3.10.0
responses>=0.23.0
flake8>=4.0.0
setuptools>=60.0.0
wheel>=0.36.0
pylint>=2.13.0
flake8-pyproject>=1.2.0
autopep8>=1.6.0
